<nav class="navbar">
    <div class="navbar-logo">
      <img [ngSrc]="logoImgRoute" alt="My App Logo" width="300" height="150" class="logo-img"/>
    </div>
    <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/projects">Proyectos</a></li>
        <li><a routerLink="/about">Sobre mí</a></li>
        <li><a routerLink="/contact">Conctacto</a></li>
    </ul>
    <div class="navbar-actions">
      <!-- PENDIENTE HACER BOTON PARA CAMBIAR A ESPAÑOL E INGLÉS -->
    </div>
  </nav>