<section class="content-section">
    <section class="featured-projects">
        <h2>Proyectos Destacados</h2>
        <div class="projects-grid">
        <div class="project-card">
            <img src="" alt="Proyecto 1">
            <h3>Proyecto 1</h3>
            <p>Descripción breve del proyecto.</p>
        </div>
        <div class="project-card">
            <img src="" alt="Proyecto 2">
            <h3>Proyecto 2</h3>
            <p>Descripción breve del proyecto.</p>
        </div>
        <!-- Puedes añadir más tarjetas si lo deseas -->
        </div>
        <a routerLink="/projects" class="btn">Ver todos los proyectos</a>
    </section>
</section>
  