.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* Ocupa toda la pantalla */
    background-color: #1E1E1E;
    /* Fondo de respaldo */

}



.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #E0E0E0;
}

.hero p {
    font-size: 1.5rem;
    color: #B0B0B0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    /* Ajusta el margen como desees */
    height: 100%;
    /* Asegura que el contenedor ocupe toda la altura disponible */
}